.navbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: rgba(168, 198, 184, 0.9);
    color: #fff;
    font-size: 30px;
  
    h1 {
      font-size: 50px;
    }
  
    button {
      position: absolute;
      right: 10px;
      margin: 10px;
      padding: 10px 20px;
      background-color: #fff;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  }
  
  .home-page-container {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  
    .home-page-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
  
      .box {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        overflow: hidden;
        border-radius: 20px;
  
        img {
          max-width: 300px;
        }
  
        button {
          position: absolute;
          width: 280px;
          top: 80%;
          background: rgba(168, 198, 184, 0.9);
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 10px 20px;
          font-size: 20px;
          border-radius: 10px;
          border: none;
          outline: none;
          cursor: pointer;
          font-weight: 600;
          color: #fff;
        }
      }
  
      .box:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
  
    .auth-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(168, 198, 184, 0.9);
      padding: 20px;
      border-radius: 20px;
      width: 50vw;
      max-width: 500px;
  
      input {
        width: 100%;
        height: 40px;
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 10px;
        border: none;
        outline: none;
      }
  
      label {
        font-size: 20px;
        font-weight: 550;
        color: #fff;
      }
  
      button {
        width: 100%;
        padding: 15px 20px;
        margin: 10px 0;
        border-radius: 10px;
        background: rgb(26, 140, 87);
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
      }
    }
  }
  
  .add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  
    /* height: 90vh; */
    width: 100%;
  
    .add-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(168, 198, 184, 0.9);
      padding: 20px;
      border-radius: 20px;
      width: 50vw;
      max-width: 500px;
  
      .input-label {
        display: flex;
        align-items: center;
  
        width: 100%;
        margin: 10px;
      }
  
      input {
        width: 100%;
        height: 40px;
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 10px;
        border: none;
        outline: none;
      }
  
      label {
        font-size: 20px;
        width: 200px;
        font-weight: 550;
        color: #fff;
      }
  
      textarea {
        width: 100%;
        height: 100px;
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 10px;
        border: none;
        outline: none;
      }
  
      button {
        width: 100%;
        padding: 15px 20px;
        margin: 10px 0;
        border-radius: 10px;
        background: rgb(26, 140, 87);
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
      }
  
      .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
        border-radius: 10px;
      }
  
      .dropdown-selected {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
      }
  
      .dropdown-menu {
        display: block;
        position: absolute;
        width: 100%;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        max-height: 150px;
        overflow-y: auto;
      }
  
      .dropdown-menu li {
        padding: 8px 12px;
        cursor: pointer;
      }
  
      .dropdown-menu li:hover {
        background-color: #ddd;
      }
    }
  }
  
  .viewAll-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  
    .viewAllCards {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .view-card {
        display: flex;
        max-height: 30vh;
        max-width: 99vw;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        overflow: hidden;
        transition: max-height 0.3s ease;
  
        &.editing {
          max-height: 90vh;
          /* width: 90vw; */
  
  
      .image {
              display: flex;
              justify-content: center;
              align-items: center;
      
              img {
                  height: 200px;
                  border-radius: 10px;
              }
          }
  
              .input-container-edit {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      /* align-items: center; */
                      /* padding: 10px; */
                      font-size: 20px;
                      /* flex-grow: 1; */
              
                      .edit-input {
                          display: flex;
                          /* flex-direction: column; */
                          /* justify-content: center; */
                          align-items: center;
                          padding: 10px;
                          font-size: 20px;
                          flex-grow: 1;
  
                          label{
                              font-size: 20px;
                              font-weight: 550;
                              width: 100px;
                              /* color: #fff; */
                              margin-right: 10px;
                          }
  
                          input{
                              /* width: 100%; */
                              height: 40px;
                              padding: 10px 20px;
                              /* margin: 10px 0; */
                              border: 5 px solid gray;
                              border-radius: 10px;
                              outline: none;
                              
                              /* border: none; */
                          }
                      }
                  }
        }
  
  
  
        .image {
          display: flex;
          justify-content: center;
  
          img {
            height: 100%;
            border-radius: 10px;
          }
        }
  
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px;
          font-size: 20px;
          flex-grow: 1;
        }
  
        .dropdown {
          position: relative;
          display: inline-block;
          /* width: 100%; */
          border-radius: 10px;
        }
  
        .dropdown-selected {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 10px;
          background-color: #fff;
          cursor: pointer;
        }
  
        .dropdown-menu {
          display: block;
          position: absolute;
          width: 100%;
          background-color: #f9f9f9;
          border: 1px solid #ccc;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          max-height: 150px;
          overflow-y: auto;
        }
  
        .dropdown-menu li {
          padding: 8px 12px;
          cursor: pointer;
        }
  
        .dropdown-menu li:hover {
          background-color: #ddd;
        }
  
        button{
          margin: 10px;
          padding: 10px 20px;
          background-color: #fff;
          /* border: none; */
          border-radius: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
  
  
  .search-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: 20px;
      flex-grow: 1;
  
      .search-box{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 10px;
          font-size: 20px;
          flex-grow: 1;
          /* background-color: aquamarine; */
  
          input {
              width: 50vw;
              height: 40px;
              padding: 10px 20px;
              margin: 10px 0;
              border: 1 px solid gray;
              border-radius: 10px;
              outline: none;
  
          }
  
          button{
              margin: 10px;
              width: 120px;
              height: 40px;
              background-color:#B1CCBF;
              border: none;
              /* border: 1px solid gray; */
              border-radius: 10px;
              font-size: 20px;
              cursor: pointer;
          }
      }
  }
  
  .description-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f9;
  
    .viewAllCards {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
  
      .view-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
  
        .image {
          display: flex;
          justify-content: center;
          max-height: 300px;
          width: 100%;
          overflow: hidden;
          border-bottom: 1px solid #ddd;
  
          .hospital-image {
            max-height: 290px;
            border-radius: 10px;
          }
        }
  
        .text {
          padding: 20px;
          text-align: left;
  
          h1 {
            font-size: 28px;
            margin-bottom: 10px;
            color: #333;
          }
  
          p {
            margin: 8px 0;
            font-size: 16px;
            color: #555;
            strong {
              color: #333;
            }
          }
        }
      }
    }
  }